header h1{
    font-size: 2.6rem;
}
header p{
    font-size: 1.8rem;
}
.promise{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}
.promise h2{
    font-size: 2.6rem;
}
.promise p{
    font-size: 1.6rem;
}
.promise .backgroundImg{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-image: url('./assets/Default_imagen_de_una_persona_bebiendo_un_gano_cafe_en_la_maan_2\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.promise .header-button{
    position: relative;
    top: 100px;
    left: 10px;
    width: 300px;
    height: 100px;
    font-size: 1.8rem;
    align-content: center;
}
